html
{
    background-image: url(https://media.istockphoto.com/photos/texture-of-a-brick-wall-of-square-bricks-picture-id931400496?k=20&m=931400496&s=170667a&w=0&h=1YU-lf-_PCPc30NBcMABK2T1ZOi2d2PS4HtcsjuJHkM=);
}

header
{
    position: relative;
    background-size: 100%;
    height: auto;
    margin: auto;
    text-align: center;
}

#backgroundImage
{
    height: 20vh;
}

h1
{
    padding-top: 4vh;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-shadow: 3px 3px black;
    font-size: 8vh;
    color: darkgreen;
}

#instructions
{
    font-size: 2vh;
    background-color: lightgray;
    visibility: hidden;
}
#Menu
{
    border: 2px black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#maze_container
{
    display: block;
    position: absolute;
    right: 0;
    padding: 5%;
}

#mazeDisplay
{
    visibility: hidden;
    display: block;
    position: absolute;
    left: 5%;
    height: 40vh;
    width: 40vh;
    background-image: url(https://us.123rf.com/450wm/pzaxe/pzaxe1204/pzaxe120400020/13043401-seamless-square-texture-wooden-floor.jpg?ver=6);
    background-size: 50%;
    padding: 5%;
}

@media screen and (max-Width: 900px)
{
    #maze_container
    {   
        bottom: 5%;
        left: 0;
        right: 0;
    }

    #mazeDisplay
    {
        margin: auto;
        left: 0;
        right: 0;
        height: 25vh;
        width: 25vh;
    }

    h1
    {
        font-size: 7vh;
    }
}


#StartButton
{
    padding-bottom: 2vh;
    display: flex;
    justify-content: center;
    width: 100%;
}

input[type = button]
{
    background-color: darkgreen;
    padding: 1em;
    color: white;
}

.dropbtn
{
    margin:0;
    background-color: darkgreen;
    color: white;
    padding: 20px;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 4em;
    margin-right: 4em;
    font-size: medium;
    border: none;
    cursor: pointer;
}

.dropdown
{
    position: relative;
    display: inline-block;
}

.dropdown-content
{
    display: none;
    padding: 2px;
    background-color: green;
    box-shadow: 0px 8px 8px 0px black;
    z-index: 1;
}

.dropdown-content a
{
    color: black;
    padding: 20px 10px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover
{
    background-color: darkgreen;
}

.dropdown:hover .dropdown-content
{
    display:block;
}

table
{
    border-collapse: collapse;
    margin: auto;
}

#maze_container table td
{
    border: 2px black solid;
    width: 0.1vh;
    height: 0.1vh;
    background-color: tan;
}

#Stopwatch
{
    text-align: center;
    text-shadow: black;
    font-size: xxx-large;
}
